* {
    padding: 0;
    margin: 0;
}
body{
    /* scroll-behavior: smooth; */
}
@font-face {
    font-family: 'Apercu';
    src: url('/fonts/ApercuPro-Medium.ttf');
    /* font-weight: 500; */
    font-style: normal;
}

.page3{
    display: block;
    position: relative;
    height: 50vh;
    z-index: 0;
    overflow: hidden;
}

